.git
.gitignore
shared/*
shared.defaults/*
docker-compose.yml
webssh.tar.gz
*.md
Linux_Installer
.cache
node_modules
client/src
scripts
.*
app/*.sample
client/tsconfig.json
CHANGELOG.md
.devcontainer/*
.vscode/*